 html body{
    font-family: 'Times New Roman', Times, serif;
    background-image: linear-gradient(rgb(255, 192, 235),rgb(213, 71, 187));
    background-repeat: no-repeat;
    padding: 30px;
    display: flex;
    justify-content: center;
}
.countainer{
    background-color:rgb(255, 214, 250);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 15px rgb(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
}
h1{
    text-align: center;
    margin-bottom: 20px;
}
.input-section{
    display: flex;
    margin-bottom: 20px;
}
.input-section input{
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 7px;
}
.input-section button{
    padding: 10px 15px;
    margin-right: 10px;
    background-color: rgb(141, 68, 115);
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}
ul{
    list-style: none;
    padding: 0;
}
li{
    background-color: #f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
li .completed span{
    text-decoration: line-through;
    color:black;
}
input[type="checkbox"]{
    margin-right: 7px;
    transform: scale(1.5);
    cursor: pointer;
}
.filters{
    margin-top: 10px;
    text-align: center;
}
.filters button .active{
    background-color: rgba(128, 128, 128, 0.548);
    color: white;
}
